html {
  text-align: center;
  background-color: black;
}


a:link, a:visited { color: lime;  }
a:hover, a:active { color: white; }

#titlebox {
  text-align: center;
  border: 5px solid green;
  width: 250px;
  background-color: #063;
  color: #3F6;
  margin-top: 30px; 
}
#contents {
  margin-top: 30px;
  color: white;
}

table {
}

td {
  padding-left: 20px;
  padding-right: 20px;
}
