<?xml version="1.0" ?>
<?xml-stylesheet href="app.css" type="text/css"?>
<application revision="11.10.05 YK" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <head>
    <title>Application for Admission to Candidacy for the Degree</title>
    <school>The Graduate School</school>
    <university>The University of Tennessee at Chattanooga</university>
  </head>
    <subheading>Student Information</subheading>
    <information>
      <row>
        <cell><xhtml:label for="name">Name</xhtml:label></cell>
        <cell><xhtml:input id="name" size="20" /></cell>
        <cell><xhtml:label for="utcid">UTC ID</xhtml:label></cell>
        <cell><xhtml:input id="utcid" size="20" /></cell>
      </row>
      <row>
        <cell><xhtml:label for="address1">Address</xhtml:label></cell>
        <cell><xhtml:input id="address1" size="20" /></cell>
        <cell><xhtml:label for="address2">Address2</xhtml:label></cell>
        <cell><xhtml:input id="address2" size="20" /></cell>
      </row>
      <row>
        <cell><xhtml:label for="phone">Phone</xhtml:label></cell>
        <cell><xhtml:input id="phone" size="20" /></cell>
        <cell><xhtml:label for="degreetype">Degree Type</xhtml:label></cell>
        <cell><xhtml:input id="degreetype" size="20" /></cell>
      </row>
      <row>
        <cell><xhtml:label for="major">Major</xhtml:label></cell>
        <cell><xhtml:input id="major" size="20" /></cell>
        <cell><xhtml:label for="concentration">Concentration</xhtml:label></cell>
        <cell><xhtml:input id="concentration" size="20" /></cell>
      </row>
      <row>
        <cell><xhtml:label for="utcemail">UTC e-mail</xhtml:label></cell>
        <cell><xhtml:input id="utcemail" size="20" /></cell>
       </row>
    </information>
    <subheading>Courses</subheading>
    <courses>
      <row>
        <cell><xhtml:label for="term" >Term</xhtml:label></cell>
        <cell><xhtml:label for="hours" >Hours</xhtml:label></cell>
        <cell><xhtml:label for="grade" >Grade</xhtml:label></cell>
        <cell><xhtml:label for="department" >Department</xhtml:label></cell>
        <cell><xhtml:label for="course" >Course</xhtml:label></cell>
        <cell><xhtml:label for="title" >Title</xhtml:label></cell>
      </row>
      <row>
        <cell><xhtml:input id="term"  /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
    </courses>
    <subheading>Transfered Courses</subheading>
    <transfercourses>
      <row>
        <cell><xhtml:label for="term" >Term</xhtml:label></cell>
        <cell><xhtml:label for="hours" >Hours</xhtml:label></cell>
        <cell><xhtml:label for="grade" >Grade</xhtml:label></cell>
        <cell><xhtml:label for="department" >Department</xhtml:label></cell>
        <cell><xhtml:label for="course" >Course</xhtml:label></cell>
        <cell><xhtml:label for="title" >Title</xhtml:label></cell>
      </row>
      <row>
        <cell><xhtml:input id="term"  /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
      <row>
        <cell><xhtml:input id="term" /></cell>
        <cell><xhtml:input id="hours" /></cell>
        <cell><xhtml:input id="grade" /></cell>
        <cell><xhtml:input id="department" /></cell>
        <cell><xhtml:input id="course" /></cell>
        <cell><xhtml:input id="title" /></cell>
      </row>
    </transfercourses>
    <otherinfo>
      <row>
        <cell><xhtml:label for="exam">Exam</xhtml:label></cell>
        <cell><xhtml:select id="exam"><xhtml:option>Yes</xhtml:option><xhtml:option>No</xhtml:option></xhtml:select></cell>
        <cell><xhtml:label for="totalhours">Total Hours</xhtml:label></cell>
        <cell><xhtml:input id="totalhours" /></cell>
      </row>
    </otherinfo>
    <signatures>
       <sig type="applicant" date=""></sig>
       <sig type="advisor" date=""></sig>
       <sig type="applicant" date=""></sig>
       <sig type="director" date=""></sig>
       <sig type="dean" date=""></sig>
    </signatures>
  <notes title="Direction for Completion of the Application for Admission to Candidacy for the Degree">
    <note>Prior to completing this from, consult with your advisor and refer to teh regulations for master's specialist, and doctoral degrees in the <i>Graduate Catalog</i> to assess your eligibilty for admission to candidacy.</note>
    <note>List all teh courses completed as well as courses to be completed that will meet the requirements for the degree as specified by the catalog currently in effect</note>
    <note>No course beyond the expected date of graduation and the six-year time limit for the degree should be included on this form.</note>
    <note>Coursework for which a student has earned a grade of D or F is not accepted toward candidacy.</note>
    <note>In order to be eligible for admission to candidacy, the student must have a B average (3.0 GPA) on all courses taken for graduate credit and have completed prerequisite and designated courses as required by the major department of school</note>
    <note>All courses must be taken for graduate credit.</note>
    <note>Any proposed change(s) in this approved program must be submitted on the Revision to Candidacy form and be approved by the advisor and the Director of the Graduate School.</note>
    <note><b>Candidacy forms must be typed or word-processed.</b></note>
    <note>Candidacy forms are to be completed after 9 hours and prior to the completion of more than 18 hours.</note>
    <note>A maximum of nine hours of approved graduate credit earned in 400-level courses may be included in any master's degree program.</note>
    <note><b>Courses listed on teh candidacy form that are substituted fora  required course should have the requried course listed in parenthesis on the same line as teh substituted couse.</b></note> 
  </notes>
  <footer>The Gradute School * Dept 5305 * (423)425-4666 * 615 McCallie Avenue * Chattanooga, TN 37403</footer>
</application>
